@model CuaHangCongNghe.Models.OrderViewModel

<div class="row">
    <div class="col-md-3">
        <div class="list-group my-4">
            <a asp-action="GetOrders" class="list-group-item list-group-item-action ">Đơn hàng</a>
            <a asp-action="GetUsers" class="list-group-item list-group-item-action active">Người dùng</a>
            <a asp-action="GetRoles" class="list-group-item list-group-item-action ">Vai trò</a>
            <a asp-action="AddProduct" class="list-group-item list-group-item-action ">Thêm sản phẩm</a>
        </div>
    </div>

            <h2>Danh sách đơn hàng</h2>

            @if (Model.ItemViewModels.Count > 0)
            {

        <strong>trạng thái:</strong> @Model.Status
        @foreach (var itemViewModel in Model.ItemViewModels)
                {
                   

                    <br />



                        <li>
                <strong>tên sản phẩm:</strong> @itemViewModel.Product.Name<br />
                <strong>ID Người dùng:</strong> @itemViewModel.quantity<br />
                <strong>Trạng thái:</strong> @itemViewModel.Price<br />
                        </li>

           
                }
        <strong>Tổng số lượng sản phẩm:</strong> @Model.FullAmount <br />
        <strong>Tổng số tiền phải thanh toán:</strong> @Model.FullPrice <br />
            }
        </div>
