@model List<CuaHangCongNghe.viewModel.UserOrderViewModel>
@{
    Layout = "LayoutAdmin";
}

<div class="col-md-8">
    <div class="card card-stats">
        <div class="card-content">
            <div id="chart_div" style="width: 100%; height: 500px;"></div>
        
        </div>
    </div>
    <div class="card card-stats" style="height:120px;width:200px;">

        <div class="card-content">
            <p class="category"><strong>số lượng đơn hàng</strong></p>
            <h3 class="card-title">@Model.Count</h3>
        </div>
    </div>
    <h2>Danh sách đơn hàng</h2>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Người dùng (đăng nhập)</th>
                <th>Thời gian</th>
                <th>Số tiền</th>
                <th>Trạng thái</th>


            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {


                @foreach (var order in Model)
                {

                    <tr class="table-row" data-href="/Admin/GetOrder/@order.Order.Id" onclick="redirectToHref(this);">

                        <td>@order.User.NameUser</td>
                        <td>@order.Order.OrderDate.ToString("dddd, dd MMMM yyyy")</td>
                        <td>@order.Order.FullPrice &#8381;</td>


                        @if (@order.Order.Status == 1)
                        {
                            <td>đã thanh toán</td>
                        }
                        @if (@order.Order.Status == 2)
                        {
                            <td>Ship cod</td>
                        }
                        @if (@order.Order.Status == 0)
                        {
                            <td>chưa thanh toán</td>
                        }



                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    function redirectToHref(row) {
        var href = row.getAttribute("data-href");
        if (href) {
            window.location.href = href;
        }
    }
</script>