@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CuaHangCongNghe.Controllers.admincontroller.listoder
<h1 class="h3 mb-2 text-gray-800"></h1>
<p class="mb-4">danh sách những đơn hàng</p>
<!-- End Page Heading -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        
           
                <h1>Xin chào!</h1>
            
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody>
                    <tr>
                        <th>Ngày mua</th>
                        <th>id sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>số lượng</th>
                        <th>tổng giá của sản phẩm</th>
                        <th>trạng thái</th>
                    </tr>
                    @if (Model != null && Model.thongtinsanphams != null && Model.thongtinsanphams.Count > 0)
                    {
                        @foreach (var thongtindonhang in Model.thongtinsanphams)
                        {
                            <tr>
                                <td>@thongtindonhang.oderDate</td>
                                <td>@thongtindonhang.idDonHang</td>
                                <td>@thongtindonhang.Namesanpham</td>
                                <td>@thongtindonhang.Soluong</td>
                                <td>@thongtindonhang.Price</td>
                                <td>
                                    @thongtindonhang.Status
                                </td>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                {
                                    // Hiển thị nội dung cho vai trò "user"
                                    <form action="/admin/saveTrangThai" method="post">
                                        <p>Trạng thái của đơn hàng:</p>
                                        <input type="hidden" id="idInput" name="id1" value="@thongtindonhang.oderid">
                                        <label for="trangThai">Nhập trạng thái đơn hàng:</label>
                                        <input type="text" id="trangThai" name="name" required><br><br>
                                        <a href="/admin/thongtindonhang" >
                                         <input type="hidden" id="iduser" name="id" value="@thongtindonhang.iduser">
                                        <input type="submit" value="Thay đổi">
                                    </form>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">No order information available.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>