@model CuaHangCongNghe.Models.PagerViewModel

<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-center my-4">
            <form method="get" asp-controller="Home" asp-action="Search" class="input-group col-10">
                <input type="text" name="name" class="form-control" placeholder="tìm kiếm" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-dark" href="" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 15 18">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
                <li data-target="#carouselIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="/images/18001771.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img   src="/images/—Pngtree—cool new mobile phone promotion_1006678.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img  src="/images/18001771.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row">
            <body>
                <div class="gallery" id="gallery">
                    @foreach (var product in Model.ProductsOnCurrentPage)
                    {
                        if (product.Stockquantity > 0)
                        {
                          

                            <div class="content">
                                <a asp-controller="Product" asp-route-id="@product.Id"><img  src="@Url.Content(product.ImageUrl)" alt="hình ảnh sản phẩm"></a>
                                <a class="b" asp-controller="Product" asp-route-id="@product.Id"></a><h3>@product.Name</h3>
                                <h6>giá:@product.Price VNĐ;</h6>
                                <p>Số lượng:@product.Stockquantity</p>

                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id" role="button"></a><h3>ADD TO CART </h3>
                            </div>

                        }
                    }
                </div>
            </body>
        </div>
    </div>
</div>
<nav>
    <ul class="pagination justify-content-center mt-4">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link text-dark" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)">sau</a>
            </li>
        }
        @if (!Model.HasPreviousPage)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">sau</a>
            </li>
        }
        @foreach (var pageNumber in Model.Pages)
        {
            @if (pageNumber == Model.CurrentPage)
            {
                <li class="page-item active"><a asp-action="Index" asp-route-page="@pageNumber" class="page-link bg-info border-info  text-white">@pageNumber</a></li>
            }
            else
            {
                <li class="page-item"><a asp-action="Index" asp-route-page="@pageNumber" class="page-link text-dark">@pageNumber</a></li>
            }
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link text-dark" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)">sau</a>
            </li>
        }
        @if (!Model.HasNextPage)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">trước</a>
            </li>
        }
    </ul>
</nav>