@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- computers section start -->


<form action="/Home/maytinh" method="post">
   
<div class="corner-tag">
    <label for="ipdanhmuc2">Chọn một loại sản phẩm:</label>
    <select id="ipdanhmuc2" name="name1">
            <option value=""></option>
        @foreach (var category in Model.Item2)
        {
            <option value="@category.Name">@category.Name</option>
        }
    </select>
</div>
    <input type="submit" value="Thay đổi">
</form>
<div class="computers_section_2">
    <div class="container-fluid">
        <div class="computer_main">
            <div class="row">
               
                   @foreach (var item in Model.Item1)
                    {
                        
                            <div class="col-md-4">
                             <div class="product-container">
                            
                                    <img class="product-image" src="/@item.ImageUrl" alt="@item.Name">
                                    <div class="card_main">
                                        <h6 class="price_text">giá: @item.Price</h6>
                                        <h6 class="price_text">số lượng còn lại: @item.Stockquantity</h6>
                                        <h5 class="samsung_text">@item.Name</h5>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("user1"))
                                    {
                                        <a href="/User/sanphamadd/@item.Id" class="btn btn-primary">thêm vào giỏ hàng</a>
                                    }
                                    else if (User.IsInRole("user"))
                                    {
                                        <a href="/User/thongtincanhan" class="btn btn-primary">thêm vào giỏ hàng</a>

                                    }

                                }
                                else
                                {


                                    <a href="@Url.Action("dangnhap", "User")" class="btn btn-primary">thêm vào giỏ hàng</a>
                                }
                                    </div>
                                </div>
                            </div>                   
                }
            </div>
        </div>
    </div>
</div>

