@model CuaHangCongNghe.Models.OrderViewModel

@if (Model.ItemViewModels != null)
{
    <form method="post">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="py-4 text-center">
                    <h2><b>Rổ hàng</b></h2>
                    <p class="text-center font-weight-light">
                        <i class="font-weight-bold text-info"> Số lượng hàng hóa trong giỏ hàng:@Model.FullAmount</i>
                    </p>
                </div>
                <table class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th style="width:60%">Các mặt hàng</th>
                            <th style="width:12%">Giá</th>
                            <th style="width:10%">Số lượng</th>
                            <th style="width:16%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ItemViewModels.Count; i++)
                        {
                            var item = Model.ItemViewModels[i];
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-md-3 text-left">
                                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Product.Id">
                                                <img src="@Url.Content(item.Product.ImageUrl)" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow">
                                            </a>
                                        </div>
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <a class="text-info" asp-controller="Product" asp-action="Index" asp-route-id="@item.Product.Id"><h4>@item.Product.Name</h4></a>
                                            <p class="font-weight-light"></p>
                                        </div>
                                    </div>
                                </td>
                                <td><h5>@item.Price &#8381;</h5></td>
                                <td>
                                    <input type="hidden" name="@("Items[" + i + "].Key")" value="@item.Id" />
                                    <input type="number" min="1" max="@item.Product.Stockquantity" class="form-control text-center" name="@("Items[" + i + "].Value")" value="@item.quantity">
                                    <p class="text-center"><small><h6>@item.Product.Price &#8381;/VNĐ</h6></small></p>
                                </td>
                                <td class="actions">
                                    <div class="text-right">
                                        <button class="form-control" asp-action="Update">
                                            <i class="bi bi-arrow-repeat"></i>
                                        </button>
                                        <a class="btn  border-secondary btn-md mb-2" asp-action="DeleteItem" asp-route-itemId="@item.Id" role="button"><i class="bi bi-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="float-right text-right">
                    <h4>Tổng cộng:</h4>
                    <h2>@Model.FullPrice &#8381;</h2>
                </div>
            </div>
        </div>
    </form>
    <form method="post">
        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 order-md-2 text-right">
                @for (int i = 0; i < Model.ItemViewModels.Count; i++)
                {
                    var item = Model.ItemViewModels[i];
                    <input type="hidden" name="@("Items[" + i + "].Key")" value="@item.Product.Id" />
                    <input type="hidden" name="@("Items[" + i + "].Value")" value="@item.quantity" />
                }
                @if (Model.ItemViewModels.Count > 0) {
                    <button class="btn btn-info mb-4 btn-lg pl-5 pr-5" type="submit" asp-controller="CheckOut" asp-action="CreateItemOrder">
                        thủ tục thanh toán
                </button>
                }
            </div>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a class="text-info" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-left mr-2 text-info"></i>Tiếp túc mua sắm</a>
            </div>
        </div>
    </form>
}
else
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="starter-template py-5 text-center">
                <h2><b>Giỏ hàng trống</b></h2>
                <p class="lead"><a class="text-info" asp-controller="Home" asp-action="Index">Nhấp vào đây</a> để tiếp tục mua sắm...</p>
            </div>
        </div>
    </div>
}