@model CuaHangCongNghe.Models.UserViewModel

<link rel="stylesheet" href="~/css/pro.css">
<div class="row g-0 text-center" style="margin-top:100px;">
    <div class="col-6 col-md-4">
        <div class="breadcrumb">
            <a>@User.Identity.Name</a>
        </div>
        <div class="ku14+s">
            <div class="Amwkjq">
                <div class="rhmIbk">
                    <div class="stardust-dropdown">
                    </div>
                    <div class="stardust-dropdown " >
                        <div class="stardust-dropdown__item-header">
                            <a asp-action="Index" class="+1U02e">
                                <div class="bfikuD">
                                    <img style="margin-top:100px;"
                                        src="https://down-vn.img.susercontent.com/file/ba61750a46794d8847c3f463c5e71cc4">
                                </div>
                                <div class="DlL0zX"><span class="adF7Xs">Tài khoản của tôi</span></div>
                            </a>
                        </div>
                        <div class="stardust-dropdown__item-body--open"  style="opacity: 1;">
                            <div class="Yu7gVR">
                                <a asp-action="Index" class="FEE-3D">
                                    <span class="qyt-aY">
                                        Hồ
                                        sơ
                                    </span>
                                </a>
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="FEE-3D">
                                    <span class="qyt-aY">
                                        Thay đổi thông tin cá nhân
                                    </span>
                                </a>
                                <a asp-action="ChangePassword" asp-route-id="@Model.Id" class="FEE-3D">
                                    <span class="qyt-aY">
                                        Đổi mật
                                        khẩu
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="stardust-dropdown">
                        <div class="stardust-dropdown__item-header">
                            <a asp-action="GetAllOrders" class="+1U02e">
                                <div class="bfikuD">
                                    <img style="margin-top:100px;"
                                        src="https://down-vn.img.susercontent.com/file/f0049e9df4e536bc3e7f140d071e9078">
                                </div>
                                <div class="DlL0zX"><span class="adF7Xs">Đơn Mua</span></div>
                            </a>
                        </div>
                        <div class="stardust-dropdown__item-body" style="opacity: 0;">
                            <div class="Yu7gVR"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="breadcrumb">
            <a>Thay đổi mật khẩu</a>
        </div>
        <div class="container text-center">
            <div class="row g-2">
                        <form asp-action="ChangePassword" asp-controller="UserProfile">
                            <div asp-validation-summary="All" class="text-danger offset-4 col-8"></div>
                            <input type="hidden" asp-for="EmailUser" />
                            <input type="hidden" asp-for="NameUser" />
                            <input type="hidden" asp-for="PhoneUser" class="form-control" value="@Model.PhoneUser" />
                            <input type="hidden" asp-for="AddressUser" class="form-control" value="@Model.AddressUser" />

                            <div class="form-group row">
                                <label asp-for="Password" class="col-4 col-form-label">Mật khẩu hiện tại</label>
                                <div class="col-8">
                                    <input asp-for="Password" placeholder="Mật khẩu hiện tại" class="form-control" type="password" autocomplete="new-password" required>
                                    <span asp-validation-for="Password" class="sr-only"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="NewPassword" class="col-4 col-form-label">Mật khẩu mới</label>
                                <div class="col-8">
                                    <input asp-for="NewPassword" placeholder="Mật khẩu mới" class="form-control" type="password" required>
                                    <span asp-validation-for="NewPassword" class="sr-only"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PasswordConfirm" class="col-4 col-form-label">Xác nhận mật khẩu mới</label>
                                <div class="col-8">
                                    <input asp-for="PasswordConfirm" placeholder="Xác nhận mật khẩu mới" class="form-control" type="password" required>
                                    <span asp-validation-for="PasswordConfirm" class="sr-only"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-4 col-8">
                                    <button name="submit" type="submit" class="btn btn-info">Xác nhận</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
