@model CuaHangCongNghe.Models.UserViewModel

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item"><a asp-action="Index">Thông tin người dùng</a></li>
            <li class="list-group-item"><a asp-action="Edit" asp-route-id="@Model.Id">Thay đổi thông tin cá nhân</a></li>
            <li class="list-group-item"><a asp-action="ChangePassword" asp-route-id="@Model.Id">Thay đổi mật khẩu</a></li>
            <li class="list-group-item"><a asp-controller="Cart" asp-action="Index">Thông tin đơn hàng</a></li>
            <li class="list-group-item"><a asp-action="GetAllOrders">Đơn hàng</a></li>
            <li class="list-group-item">
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" value="Đăng xuất" style="background:none;border:none;padding:0">
                </form>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>@Model.NameUser</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="ChangePassword" asp-controller="UserProfile">
                            <div asp-validation-summary="All" class="text-danger offset-4 col-8"></div>
                            <input type="hidden" asp-for="EmailUser" />
                            <input type="hidden" asp-for="NameUser" />
                            <input type="hidden" asp-for="PhoneUser" class="form-control" value="@Model.PhoneUser" />
                            <input type="hidden" asp-for="AddressUser" class="form-control" value="@Model.AddressUser" />

                            <div class="form-group row">
                                <label asp-for="Password" class="col-4 col-form-label">Mật khẩu hiện tại</label>
                                <div class="col-8">
                                    <input asp-for="Password" placeholder="Mật khẩu hiện tại" class="form-control" type="password" autocomplete="new-password" required>
                                    <span asp-validation-for="Password" class="sr-only"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="NewPassword" class="col-4 col-form-label">Mật khẩu mới</label>
                                <div class="col-8">
                                    <input asp-for="NewPassword" placeholder="Mật khẩu mới" class="form-control" type="password" required>
                                    <span asp-validation-for="NewPassword" class="sr-only"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PasswordConfirm" class="col-4 col-form-label">Xác nhận mật khẩu mới</label>
                                <div class="col-8">
                                    <input asp-for="PasswordConfirm" placeholder="Xác nhận mật khẩu mới" class="form-control" type="password" required>
                                    <span asp-validation-for="PasswordConfirm" class="sr-only"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-4 col-8">
                                    <button name="submit" type="submit" class="btn btn-info">Xác nhận</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
