@model List<CuaHangCongNghe.Models.OrderViewModel>

<h2>Danh sách đơn hàng</h2>

@if (Model.Count > 0)
{

    
            @foreach (var order in Model)
            {
                <strong>trạng thái:</strong> @order.Status<br />
                             
           
                foreach(var item in order.ItemViewModels)
                {
                    <li>
                        <strong>tên sản phẩm:</strong> @item.Product.Name<br />
                        <strong>ID Người dùng:</strong> @item.quantity<br />
                        <strong>Trạng thái:</strong> @item.Price<br />
                    </li>
                }
                <strong>Tổng số tiền phải thanh toán:</strong> @order.FullPrice <br />
            }
}