@model CuaHangCongNghe.Models.UserViewModel


<link rel="stylesheet" href="~/css/pro.css">
<div class="row g-0 text-center" style="margin-top:100px;">
    <div class=" col-md-4">
        <div class="breadcrumb">
            <a>@User.Identity.Name</a>
        </div>
        <div class="ku14+s">
            <div class="Amwkjq">
                <div class="rhmIbk">
                    <div class="stardust-dropdown">                       
                    </div>
                    <div class="stardust-dropdown " id="myAccountDropdown">
                        <div class="stardust-dropdown__item-header">
                            <a asp-route-id="Index" class="+1U02e" >
                                <div class="bfikuD">
                                    <img style="margin-top:100px;" src="https://down-vn.img.susercontent.com/file/ba61750a46794d8847c3f463c5e71cc4">
                                </div>
                                <div class="DlL0zX"><span class="adF7Xs">Tài khoản của tôi</span></div>
                            </a>
                        </div>
                        <div class="stardust-dropdown__item-body--open"  id="myAccountDropdown" style="opacity: 1;">
                            <div class="Yu7gVR" >
                                <a asp-route-id="Index" class="FEE-3D tH0d6d" >
                                    <span class="qyt-aY">
                                        Hồ
                                        sơ
                                    </span>
                                </a>
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="FEE-3D" >
                                    <span class="qyt-aY">
                                       Thay đổi thông tin cá nhân
                                    </span>
                                </a>
                                <a asp-action="ChangePassword" asp-route-id="@Model.Id" class="FEE-3D">
                                    <span class="qyt-aY">
                                        Đổi mật
                                        khẩu
                                    </span>
                                </a>                               
                            </div>
                        </div>
                    </div>
                    <div class="stardust-dropdown">
                        <div class="stardust-dropdown__item-header">
                            <a asp-action="GetAllOrders" class="+1U02e" >
                                <div class="bfikuD">
                                    <img style="margin-top:100px;"  src="https://down-vn.img.susercontent.com/file/f0049e9df4e536bc3e7f140d071e9078">
                                </div>
                                <div class="DlL0zX"><span class="adF7Xs">Đơn Mua</span></div>
                            </a>
                        </div>
                        <div class="stardust-dropdown__item-body" style="opacity: 0;">
                            <div class="Yu7gVR"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="breadcrumb">
            <a>Thông tin cá nhân</a>
        </div>
        <div class="container text-center">
            <div class="row g-2">
                <div class="col-6" style="text-align: left;">
                    <div class="p-3">Họ tên</div>
                    <div class="my-profile-item">@Model.NameUser</div>
                </div>
                <div class="col-6" style="text-align: left;">
                    <div class="p-3">Địa chỉ email</div>
                    <div class="my-profile-item">@Model.EmailUser</div>
                </div>
                <div class="col-6" style="text-align: left;">
                    <div class="p-3">Số điện thoại</div>
                    <div class="my-profile-item">@Model.PhoneUser</div>
                </div>
                <div class="col-6" style="text-align: left;">
                    <div class="p-3">ngày đang ký</div>
                    <div class="my-profile-item">@Model.RegistrationDate</div>
                </div>
            </div>
        </div>
    </div>
</div>
