@model CuaHangCongNghe.viewModel.UserOrderViewModel

<link rel="stylesheet" href="~/css/pro.css">
<div class="row g-0 text-center" style="margin-top:100px;">
    <div class="col-sm-6 ">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            Giỏ hàng
        </h4>
        <ul class="list-group mb-3">
            @foreach (var item in Model.Order.ItemViewModels)
            {

                <div class="card border-0">

                    <img src="@item.Product.ImageUrl" style="width: 80px; height: 80px;" />

                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>


                    <div class="card-body" style="display:flex;">
                        <div class="item-main item-main-mini">
                            <div>
                                <div class="text title item-title" data-spm="details_title">
                                    @item.Product.Name
                                </div>
                            </div>
                        </div>
                        <div class="item-status">
                            <div class="item-price text bold">₫ @item.Price</div>
                        </div>

                        <div class="item-quantity" style="margin-left:100px">
                            <span>
                                <span class="text desc info multiply">
                                    Số
                                    lượng:
                                </span><span class="text">&nbsp;@item.quantity</span>
                            </span>
                        </div>

                    </div>
                 

                </div>

            }
            <li class="list-group-item d-flex justify-content-between">
                <span>Tổng tiền:</span>
                <strong>@Model.Order.FullPrice ₫</strong>
            </li>
        </ul>
    </div>

<div class="col-sm-6 " >
        <form asp-action="Payment" method="post">
            <div class="mb-3">
                @for (int i = 0; i
                < Model.Order.ItemViewModels.Count; i++)
                {
                    var item = Model.Order.ItemViewModels[i];
                    <input type="hidden" name="@(" Items[" + i + "].Key" )" value="@item.Product.Id" />
                    <input type="hidden" name="@(" Items[" + i + "].Value" )" value="@item.quantity" />
                }
            </div>
            <input type="hidden" name="orderID" value="@Model.Order.Id" />

            <h1>Chọn phương thức thanh toán</h1>

            <div class="form-check" style="justify-content:left">
                <input type="radio" class="form-check-input" id="giaoHang" name="status" value="2">
                <label class="form-check-label" for="giaoHang">Ship COD</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input"  id="thanhToan" name="status" value="1">
                <label class="form-check-label" style="justify-content:left" for="thanhToan">Thanh toán điện tử</label>
            </div>

            <button type="submit" class="btn btn-success btn-lg btn-block">Xác nhận thanh toán</button>
        </form>
    </div>

    </div>
