@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<form action="saveupdate" method="get">
<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <A>Thông tin cá nhân</A>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.tendangnhap</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                    <input name="iduser" type="hidden" class="form-control" id="IDInput" value="@Model.iduser">
                                <input name="iddangnhap" type="hidden" class="form-control" id="IDInput" value="@Model.iddangnhap">
                                <tbody>
                                    <tr>
                                        <td>Họ Và Tên:</td>
                                        <td>
                                            <input name="NameUser" style="border: none" value="@Model.NameUser" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Số Điện Thoại:</td>
                                        <td>
                                            <input name="PhoneUser" value="@Model.PhoneUser" style="border: none" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>
                                                <input type="email" name="EmailUser" value="@Model.EmailUser" style="border: none">
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>Địa Chỉ:</td>
                                        <td>
                                                <input type="text" name="AddressUser" value="@Model.AddressUser" style="border: none">
                                        </td>
                                    </tr>              
                                    <tr>
                                        <td>Mật Khẩu:</td>
                                        <td>
                                                <input  type="text" name="password" value="@Model.password" style="border: none">
                                        </td>
                                    </tr>                              
                                </tbody>
                            </table>

                            
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                        <button type="submit" class="btn btn-danger btn-icon-split">CẬP NHẬT</button>
                    <span class="pull-right">
                            <a href="/admin/thongtindonhang/@Model.iduser" data-original-title="Edit this user" data-toggle="tooltip" class="btn btn-sm btn-warning"><i class="glyphicon accordion-item">ĐƠN HÀNG</i></a>
                            <a href="@Url.Action("Index", "Home")" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-home"></i></a>
                          
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
</form>